* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
        background-image: linear-gradient(90deg, rgba(217, 239, 234, 1) 0%, rgba(240, 244, 241, 1) 62%, rgba(220, 240, 232, 1) 100%);
}

a {
    text-decoration: none;
}



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.4rem 0;
}

.nav ul li {
    display: inline-block;
    list-style-type: none;
}

.nav ul li a {
    margin: 0 1.8rem;
    color: #A6A6A6;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.nav ul li a.active {
    color: #000;
    font-weight: 600;
}

.nav ul li a:hover {
    color: #000;
}

.header-btns a {
    color: #A6A6A6;
    padding: 0 1.4rem;
}

a.signup-btn {
    color: #fff;
    background: #54BD95;
    padding: .8rem 1.2rem;
    border-radius: 1rem;
}

.main-sction {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    position: relative;
    margin-bottom: 6rem;
}

.main-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.main-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 2rem 0;
    opacity: .6;
}

.home-btn {
    display: flex;
    gap: 3rem;
}

.home-btn .trial-btn {
    background: #54BD95;
    color: #fff;
    padding: 1.4rem 2.6rem;
    border-radius: 2.5rem;
}

.home-btn .play-btn {
    color: #000;
}

.home-btn img {
    position: relative;
    top: .8rem;
    right: .7rem;
}

.hero-img img {
    position: relative;
}

.shape1 {
    position: absolute;
    right: 40%;
    top: 35%;
    z-index: 1;
}

.shape2 {
    position: absolute;
    right: 40.8%;
    top: 37.5%;
    z-index: 1;
}
.shape3 {
    position: absolute;
    top: 12%;
    right: 19rem;
    transform: translateY(-50%) rotate(10deg);
    z-index: 1;
}

.shape4 {
    position: absolute;
    top: 80%;
    right: 43rem;
    z-index: 1;
}

.shape5 {
    position: absolute;
    right: 20%;
    top: 95%;
    z-index: 1;
}

.shape6{
    position: absolute;
    right: 12%;
    top: 55%;
    z-index: 1;
}
.shape7{
    position: absolute;
    right: 33%;
    top: 8%;
    z-index: 100;
}


.amount-card{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1rem 1.2rem;
    border-radius: .8rem;
}

.amount-btn a{
    font-size: .9rem;
    color: #fff;
    background: #52BD94;
    padding: .6rem 1.4rem;
    border-radius: 1.4rem;
}

.amount-card p{
    font-size: .8rem;
    color: #A9A7B6;
    line-height: 2.6;
}
.web-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.web-section h2{
    text-align: center;
    margin: 1.8rem 0;
}
.web-images img{
    width: 130px;
}

